html {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
  width: 10%;
  height: 10%;
}

body {
  background-color: #b967ff;
  text-align: center;
}

h1 {
  margin-top: -10px;
  color: #01cdfe;
  text-decoration: none;
}
.create-button {
  text-align: center;
}

button {
  background-color: #01cdfe; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#history {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-left: 10vw;
  margin-right: 10vw;
  row-gap: 20px;
}

.block {
  list-style-type: none;
  text-align: left;
  border: 2px solid #fffb96;
  padding: 10px;
}

.obj {
  white-space: pre-wrap;
  line-height: 1em;
  font-family: monospace;
  margin-left: 10px;
  width: 50%;
}

footer {
  font-size: 8px;
  position: absolute;
  bottom: 0px;
  width: 100px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}